/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */
.main-body {
  padding-top: 30px;
  padding-bottom: 20vh;
  height: 80vh;
  text-align: center;
  font-family: 'Raleway';
}

.big-avatar {
  height: 250px;
  padding: 10px;
  width: 250px;
  border-radius: 50%;
  object-position: top;
  object-fit: cover;
}

.intro-sab {
  margin: 20px !important;
  padding-left: 25vw;
  padding-right: 25vw;
}
.bg-red {
  background: $red;
  color: white;
}
.bg-blue {
  background: $blue;
  color: white;
}
.bg-yellow {
  background: $yellow;
  color: white;
}
.bg-orange {
  background: $orange;
  color: white;
}
.bg-green {
  background: $green;
  color: white;
}
.bg-purple {
  background: $purple;
  color: white;
}

.body-background {
  background-repeat: no-repeat;
  background-attachment: inherit;
  background-size: cover;
  background-position: center;
  // height: 100%;
  height: 1200px;
  width: 100%;
  background-color: white;
  position: absolute;
  overflow: scroll;
}


.accordion {
  margin: 20px !important;
  padding-left: 15vw;
  padding-right: 15vw;
  padding-bottom: 20px;
  padding-top: 10px;
}


.btn {
  font-family: 'Raleway';
}

.btn-link {
  color: $gray;
  font-size: 20px;
}

.btn-link:hover {
  color: black !important;
  text-decoration: none !important;
}

.btn-link:focus {
  color: black !important;
  text-decoration: none !important;
  outline: none !important;
}

.more-card {
  opacity: .5;
  background-color: white;
  border-radius: 8px;
}

.data-body {
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 20px;
  padding-top: 10px;
  opacity: .6;
  background-color: white;
  border-radius: 8px;
}

