

<div class="card-body contact-form">
  <form
    action="https://formspree.io/sabrina.gheissari1@gmail.com"
    method="POST"
    style="text-align: center"
  >
    <label class="form-contact">
      YOUR NAME:
      <input type="text" name="name" class="input-contact">
    </label>
    <label class="form-contact">
      YOUR EMAIL:
      <input type="email" name="_replyto" class="input-contact">
    </label>
    <label class="form-contact">
      MESSAGE:
      <textarea name="message" placeholder="Want to work together? Looking to hire? Send me a message!" class="input-contact"></textarea>
    </label>
    <input type="submit" value="THANKS!" class="send-contact">
  </form>
  <a href="/index.html" class="fas fa-home home-button"></a>
</div>
