<p>
hey
</p>
<p>
hey
</p>
<p>
hey
</p>
<p>
hey
</p>
<p>

</p>
<p>

</p>
<p>

</p>
<li>
  <% link_to "/index.html" do %>
    HOME
  <% end %>
</li>

<div class="card-body data-body">
  <form
    action="https://formspree.io/sabrina.gheissari1@gmail.com"
    method="POST"
  >
    <label>
      Your Name:
      <input type="text" name="name">
    </label>
    <label>
      Your Email:
      <input type="email" name="_replyto">
    </label>
    <label>
      Message:
      <textarea name="message"></textarea>
    </label>
    <input type="submit" value="Send">
  </form>
</div>
