---
title: Sabrina Gheissari
---

<div class="main-body">
  <div class="accordion" id="accordionExample">
  <h1 style="font-size: 4vw;font-weight: lighter; color: #404096">SABRINA ROXANNA GHEISSARI</h1>
  <img src="images/headshot.jpg" class="big-avatar" alt="">
  <p style="font-size: 15px;font-weight: lighter; color: #404096; padding-top: 15px; padding-bottom: 15px">New York City / Tokyo / London</p>
  <div class="more-card intro-data-body">
  <p>Hey, I'm Sabs.</p>
  <p>I have four citizenships; I have lived in Switzerland, the UK, Belgium, the US, and Japan; I have a dual degree from Northeastern University in Finance and Economics and a full-stack bootcamp degree from the world's #1 coding bootcamp, Le Wagon; I'm trilingual. I'm dedicated, hard working, and I only recently found my passion in coding. I can't wait to get started.</p>
  </div>
    <div class="card more-card">
      <div class="card-header" id="headingOne">
        <h2 class="my-accordion">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            MY STORY
          </button>
        </h2>
      </div>

      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body data-body">
          <p>I am someone who passionately believes in loving what you do. I do not like the word <i>job</i>. I believe in careers and work-life integration. </p>
          <p>At university I was encouraged by my father to study Business and Economics. I came to love both, and as a feminist I decided I wanted to find ways to use my degree to highlight economic gender gap issues. Finance became my business concentration. I interned at Brown Brothers Harriman (Investor Services) during my last year in university, and I was introduced to a few badass women in BBH’s Private Banking Wealth Management group. They showed me there is a lot that can be done in wealth management to help women be more economically empowered. I couldn’t say yes fast enough when they offered me a full time position in the New York branch pending my graduation.</p>
          <p>I returned to school with a spring in my step, ready to graduate and take on the workforce. My economics thesis, <a href="/images/thesis.pdf" target="_blank"><i>The Determinants of Domestic Violence through Female Economic Independence</i></a>, made me even more determined to find ways to help women feel economically empowered and independent.</p>
          <p>After a year in wealth management I was offered an opportunity to work in Private Banking’s new Trade and Portfolio Construction group. They needed an eager young face to get involved in centralizing the Private Bank’s trading platforms; Brown Brothers’ main 2019 initiative. I couldn’t wait to be that person for them despite diverging from my initial passion, and soon after joining I was asked to be one of the leads for the initiative. Eager not to lose sight of my socioeconomic interests, I still managed to scratch that itch when I worked on a side project to analyze the difference between socially responsible investing returns and SRI-unregulated returns.</p>
          <p>Working on these initiatives required product development and project management skills that I had previously not used. Subsequently a new passion arose and it was absolutely as important to me as my feminism; tech.</p>
          <p>After two years working in project management and product development, and after completing my assignment, I decided to leave the firm because I didn’t feel the same passion for finance. I decided to commit to tech, and I moved to Tokyo from NYC to learn how to code. I wanted to be re-inspired through both education and cultural exploration. I enrolled in the world’s #1 coding bootcamp, Le Wagon, at the end of September, 2019. This experience validated my passion in coding and taught me to trust my gut. After nine weeks at the bootcamp I graduated with three impressive projects, linked <a href="#bott">a little further below.</a></p>
          <p>Where does that leave me now? I want to help find a way for tech to positively influence racial and gender gaps universally, as a hobby or a career. But right now I am eager to find a new career where I can learn more and engage with likeminded mentors who believe in careers, growing young talent, and work-life integration. I want to be inspired by my work and learn more about coding and development every day. I want to build products that will make a difference in our world. I want to work for a firm that has a big vision, with realistic goals, and I want to work for a team that believes in sustainability and bettering the future of our planet and society.</p>
        </div>
      </div>
    </div>

    <div class="card more-card">
      <div class="card-header" id="headingTwo">
        <h2 class="my-accordion">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            FULL-STACK LANGUAGES
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body data-body">
          <p>Ruby on Rails</p>
          <p>Javascript</p>
          <p>CSS</p>
          <p>HTML5</p>
          <p>Bootstrap</p>
          <p>SQL</p>
          <p>React</p>
        </div>
      </div>
    </div>

    <div class="card more-card">
      <div class="card-header" id="headingThree">
        <h2 class="my-accordion">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            SKILLS
          </button>
        </h2>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body data-body">
          <p>Project Management</p>
          <p>Product Development</p>
          <p>Product Design</p>
          <p>Strategy</p>
          <p>Innovation</p>
          <p>Time Management</p>
          <p>Public Speaking</p>
          <p>Microsoft Applications</p>
          <p>German</p>
          <p>French</p>
          <p>Beginner Farsi</p>
          <p>Beginner Japanese</p>
          <p>Risk Loving</p>
          <p>Self-starter</p>
        </div>
      </div>
    </div>

    <div id="bott" class="card more-card">
      <div class="card-header" id="headingFour">
        <h2 class="my-accordion">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            LE WAGON PROJECTS
          </button>
        </h2>
      </div>
      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
        <div class="card-body data-body">
            <a href="http://www.travva.me/" target="_blank"><h4>TRAVVA</h4></a>
            <p>Team Role: Product Designer</p>
            <p>Weeks 8 and 9 at Le Wagon: Our Demo Day Project, TRAVVA, targets avid travelers who have two problems: difficulty keeping track of their "bucket list" dreams, and difficulty planning (and re-planning) an itinerary when traveling. The goal of TRAVVA is to make travel less stressful by removing a lot of the inconveniences that come with travel.</p>
            <br>
            <a href="https://fitpass310.herokuapp.com/" target="_blank"><h4>FITPASS TOKYO</h4></a>
            <p>Team Role: Lead Developer</p>
            <p>Week 7 at Le Wagon: I was placed into a team that would be working together for the final three weeks. Our end goal was the Demo Day project, and as practice we were given five days to plan and create a prototype, user stories, and a fully functioning market place. For this practice we chose to replicate the company Class Pass, but for Tokyo.</p>
            <br>
            <a href="https://sabby-snacks.herokuapp.com/" target="_blank"><h4>SABBY SNACKS</h4></a>
            <p>Individual Project</p>
            <p>Week 6 at Le Wagon: Sabby Snacks is a cocktail generator that allows you to pick from a range of ingredients and store cocktails you enjoy. It was my first deployment of a fully functioning CRUD application.</p>
        </div>
      </div>
    </div>

    <div class="card more-card">
      <div class="card-header" id="headingFive">
        <h2 class="my-accordion">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            REFERRALS
          </button>
        </h2>
      </div>
      <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
        <div class="card-body data-body">
            <div style="display: flex;">
            <div class=""><img src="../images/elizabeth.jpeg"  class="small-avatar" alt=""></div>
            <div style="text-align: left; margin: 10px; align-self: center" class="referral">
              <h4>Elizabeth <i>(Coworkers)</i></h4>
              <p>In working with Sabrina at Brown Brothers for nearly 3 years, I was fortunate to work with her over the course of many projects and initiatives. Sabrina is not afraid to get her hands dirty and delve into the details. She is a quick learner and will often try to work through things on her own, then bring her ideas and potential solutions to the table. In collaborating with Sabrina, I was always appreciative to have someone so dedicated to the task at hand. Not only did we work on our day-to-day responsibilities together but we also served as co-chairs of the Young Professionals Network at BBH NY where we were able to support the next generation of BBH's employees and assist with various initiatives benefiting United Way. I can attest that she was seen as a leader among her peers. Sabrina is one of the most determined people I know and I am sure she will go on to do many wonderful things in her career.</p>
            </div>
          </div>
          <div style="display: flex;">
            <div class=""><img src="../images/sriram.jpeg"  class="small-avatar" alt=""></div>
            <div style="text-align: left; margin: 10px; align-self: center" class="referral">
              <h4>Sriram <i>(Team Member)</i></h4>
              <p>Sabrina is one of the smartest people I have ever met. I worked with her on the Demo Day project at Le Wagon. She is a natural leader and is quick to come up with innovative and practical ideas. At the same time, she understood the constraints of building a project in a short duration and prioritised the features to be built. She was skilled in managing the project as well as building both the front-end(design elements) and the back-end(structure) of the project. It was great working with her and she would be an invaluable asset to any organisation she is part of. </p>
            </div>
          </div>
          <div style="display: flex;">
            <div class=""><img src="../images/doug.jpeg" class="small-avatar" alt=""></div>
            <div style="text-align: left; margin: 10px; align-self: center" class="referral">
              <h4>Doug <i>(Le Wagon Teacher)</i></h4>
              <p>Sabrina is an extremely motivated and passionate worker. When we covered new material, she stayed curious asking constructive questions. While working in her team, she was a leader that tried to get the most out of everyone while keeping everyone on task. If I were starting a new team, I wouldn't hesitate to get her on board.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card more-card">
      <div class="card-header" id="headingSix">
        <h2 class="my-accordion">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
            INTERESTS
          </button>
        </h2>
      </div>
      <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
        <div class="card-body data-body">
          <p>AI</p>
          <p>Al Pacino</p>
          <p>Code</p>
          <p>Cooking</p>
          <p>Cultural Integration and Diversity</p>
          <p>Fashion</p>
          <p>Fiction</p>
          <p>Fitness</p>
          <p>Football (soccer)</p>
          <p>French Indie Pop</p>
          <p>Languages</p>
          <p>Machine Learning</p>
          <p>Micro Finance</p>
          <p>Muhammad Yunus</p>
          <p>Persian Food</p>
          <p>Psychology</p>
          <p>Skiing</p>
          <p>Sushi</p>
          <p>Sustainability</p>
          <p>The 80s</p>
          <p>Travel</p>
        </div>
      </div>
    </div>

    <div class="card more-card">
      <div class="card-header" id="headingSeven">
        <h2 class="my-accordion">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
            RESUME
          </button>
        </h2>
      </div>
      <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
        <div class="card-body data-body">
          <a href="/images/SRG_Resume.pdf" target="_blank">View/Download PDF</a>
        </div>
      </div>
    </div>

    <div class="card more-card">
      <div class="card-header" id="headingEight">
        <h2 class="my-accordion">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
            CONTACT
          </button>
        </h2>
      </div>
      <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
        <div class="card-body data-body">
          <form
            action="https://formspree.io/sabrina.gheissari1@gmail.com"
            method="POST"
            style="text-align: center"
          >
            <label class="form-contact">
              Your Name:
              <input type="text" name="name" class="input-contact">
            </label>
            <label class="form-contact">
              Your Email:
              <input type="email" name="_replyto" class="input-contact">
            </label>
            <label class="form-contact">
              Message:
              <textarea name="message" placeholder="Want to work together? Looking to hire? Send me a message!" class="input-contact"></textarea>
            </label>
            <input type="submit" value="Thanks!" class="send-contact">
          </form>
          <!-- <a href="/index.html" class="fas fa-home home-button"></a> -->
          <!-- <form
            action="https://formspree.io/sabrina.gheissari1@gmail.com"
            method="POST"
          >
            <label class="form-home">
              Your Name:
              <input type="text" name="name" class="input-home">
            </label>
            <label class="form-home">
              Your Email:
              <input type="email" name="_replyto" class="input-home">
            </label>
            <label class="form-home">
              Message:
              <textarea name="message" placeholder="Want to work together? Looking to hire? Send me a message!" class="input-home"></textarea>
            </label>
            <input type="submit" value="Send" class="send-home">
          </form> -->
        </div>
      </div>
    </div>

  </div>
</div>
