---
title: Sabrina Gheissari
---

<div class="main-body">
  <div class="accordion" id="accordionExample">
  <h1 style="font-size: 4vw;font-weight: lighter; color: #404096">SABRINA ROXANNA GHEISSARI</h1>
  <img src="images/headshot.jpg" class="big-avatar" alt="">
  <p style="font-size: 15px;font-weight: lighter; color: #404096; padding-top: 15px; padding-bottom: 15px">New York City / Tokyo / London</p>
  <div class="more-card intro-data-body">
    <p>Hey, thanks for joining me!</p>
    <p>My name is Sabrina. I come from a progressive, bi-racial, quad-religious family filled with love. I'm addicted to self-growth and goal setting. I spent 5+ years working towards a successful career on Wall Street. After an existential revolution at 25, I packed my bags and set off to Tokyo to learn how to code at the world's #1 coding bootcamp, Le Wagon. It was there that I discovered my passion in Product Management, and I was thrilled to discover I am actually great at what I love to do. Not many people can say that their passion coincides with their strengths, and I feel blessed to have found my niche.</p>
  </div>
    <div class="card more-card">
      <div class="card-header" id="headingOne">
        <h2 class="my-accordion">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            MY PAST
          </button>
        </h2>
      </div>

      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body data-body">
          <p>Growing up, mathematics was a natural strength of mine, but music and the arts is where I felt most free. I played the cello for nine years and was a fiction bookworm. Not knowing what I wanted to do at university, my dad encouraged me to study Business and Economics. I became passionate about Economics specifically, as I learned that numbers can help you tell some very interesting stories that weren’t fictional. As a feminist I decided I wanted to find ways to use this storytelling to highlight economic gender gap issues. My Economics thesis, <a href="/images/thesis.pdf" target="_blank"><i>The Determinants of Domestic Violence through Female Economic Independence</i></a>, made me determined to be an economically empowered and independent woman.</p>
          <p>After graduating with 2 years of work experience already under my belt (shoutout Northeastern) I began my career in wealth management. Shortly thereafter I was identified by the COO as the prime candidate for a new team in Private Banking. The team transitioned over from a division with a very different culture; they wanted a young woman who could break a ceiling, encourage a new culture, and lead a major project to remove synergies. I was scrappy, a feminist, persistent and obsessed with efficiency. I spent the following two years as a trader during the day, and a product manager at night. After building a product that scaled our efficiency by 120,000% (yes, you read that right), and successfully breaking the ceiling and transforming a team whose previous mottos were <i>Don’t Fix What Ain’t Broke</i> and <i>Snitches Get Stiches</i>, I was mentally exhausted and unhappy. I reevaluated what I wanted to do with my life; a feat like this should have made me proud, not unhappy.</p>
          <p>After significant due diligence and a million conversations with my mentors, I embarked on a new journey to Tokyo, where I enrolled in the world’s #1 coding bootcamp, Le Wagon. I had never been to Asia before, I was 14 hours away from home, and yet, I was never more sure of anything in my life. I joined a class of 22 from 18 different countries, and built three websites with two incredible team members (<a href="#bott"> linked below.</a>) At the end of the program, I knew I had found an industry and career path that would inspire me daily and make me feel proud. Before returning to NYC to secure my first position as a product manager, I continued to travel around Asia for a month, exploring cultures I had never been introduced to. I learned a lot about myself, and how to trust my instincts.</p>
        </div>
      </div>
    </div>
    

    <div class="card more-card">
      <div class="card-header" id="headingTwo">
        <h2 class="my-accordion">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            MY PRESENT
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body data-body">
          <p>The last year I have worked as a product manager at the digital agency, Division Of/. I’ve worked on four products for three Fortune 500 companies and one start-up. I learned a new realm of client relationship management, connecting with each of them on a deep level to understand their industries, workflows, and pain points. I’ve worked with multiple groups of engineers and designers to build products, and have somehow navigated the new Zoom World to understand differences in communication style. I’ve learned agile methodologies and introduced scrum methodologies to the company. I’ve built products from scratch, and I’ve also jumped into the middle of projects. I’ve worked on lengthy projects with frequent iterations, and worked on lengthy strategy to identify the best course of action. I’ve learned how to organize my brain on a screen, and have become a stronger self-starter working alone in my one bedroom apartment for all of 2020. </p> 
          <p>The chaotic world of agency allowed me to learn very quickly, but it only allowed me to learn horizontally. I’m now looking for new opportunities to work within a growing company, where I learn vertically and horizontally; allowing me to strengthen my craft. I want to absorb from other PMs and learn from mentors. I want to build products that excite me, hear feedback from users I identify with, make iterations that make them smile, and work in a team that is just as passionate as I am. I love what I do, I’m proud of how far I’ve come, and I’m very thankful that you took the time to read my story.</p>
        </div>
      </div>
    </div>

    <div class="card more-card">
      <div class="card-header" id="headingThree">
        <h2 class="my-accordion">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            FULL-STACK LANGUAGES
          </button>
        </h2>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body data-body">
          <p>Ruby on Rails</p>
          <p>Javascript</p>
          <p>CSS</p>
          <p>HTML5</p>
          <p>Bootstrap</p>
          <p>SQL</p>
          <p>React</p>
        </div>
      </div>
    </div>
    
    <div class="card more-card">
      <div class="card-header" id="headingFour">
        <h2 class="my-accordion">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            STUFF I'M GOOD AT
          </button>
        </h2>
      </div>
      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
        <div class="card-body data-body">
          <p>Digital Knowledge</p>
          <p>Data Analytics</p>
          <p>Business Analysis</p>
          <p>User Experience and Integration</p>
          <p>Leadership</p>
          <p>Public Speaking</p>
          <p>Adaptability</p>
          <p>Strategy</p>
          <p>Innovation</p>
          <p>Scrum Methodologies</p>
          <p>Agile Methodologies</p>
          <p>Flexibility</p>
          <p>Self-Starting</p>
          <p>Microsoft Office</p>
          <p>German</p>
          <p>French</p>
        </div>
      </div>
    </div>

    <div id="bott" class="card more-card">
      <div class="card-header" id="headingFive">
        <h2 class="my-accordion">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            LE WAGON
          </button>
        </h2>
      </div>
      <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
        <div class="card-body data-body">
            <a href="http://www.travva.me/" target="_blank"><h4>TRAVVA</h4></a>
            <p>Team Role: Product Designer</p>
            <p>Weeks 8 and 9 at Le Wagon: Our Demo Day Project, TRAVVA, targets avid travelers who have two problems: difficulty keeping track of their "bucket list" dreams, and difficulty planning (and re-planning) an itinerary when traveling. The goal of TRAVVA is to make travel less stressful by removing a lot of the inconveniences that come with travel.</p>
            <br>
            <a href="https://fitpass310.herokuapp.com/" target="_blank"><h4>FITPASS TOKYO</h4></a>
            <p>Team Role: Lead Developer</p>
            <p>Week 7 at Le Wagon: I was placed into a team that would be working together for the final three weeks. Our end goal was the Demo Day project, and as practice we were given five days to plan and create a prototype, user stories, and a fully functioning market place. For this practice we chose to replicate the company Class Pass, but for Tokyo.</p>
            <br>
            <a href="https://sabby-snacks.herokuapp.com/" target="_blank"><h4>SABBY SNACKS</h4></a>
            <p>Individual Project</p>
            <p>Week 6 at Le Wagon: Sabby Snacks is a cocktail generator that allows you to pick from a range of ingredients and store cocktails you enjoy. It was my first deployment of a fully functioning CRUD application.</p>
        </div>
      </div>
    </div>

    <div class="card more-card">
      <div class="card-header" id="headingSix">
        <h2 class="my-accordion">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
            THESE PEOPLE LIKE ME
          </button>
        </h2>
      </div>
      <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
        <div class="card-body data-body">
            <div style="display: flex;">
            <div class=""><img src="../images/elizabeth.jpeg"  class="small-avatar" alt=""></div>
            <div style="text-align: left; margin: 10px; align-self: center" class="referral">
              <h4>Elizabeth <i>(Coworkers)</i></h4>
              <p>In working with Sabrina at Brown Brothers for nearly 3 years, I was fortunate to work with her over the course of many projects and initiatives. Sabrina is not afraid to get her hands dirty and delve into the details. She is a quick learner and will often try to work through things on her own, then bring her ideas and potential solutions to the table. In collaborating with Sabrina, I was always appreciative to have someone so dedicated to the task at hand. Not only did we work on our day-to-day responsibilities together but we also served as co-chairs of the Young Professionals Network at BBH NY where we were able to support the next generation of BBH's employees and assist with various initiatives benefiting United Way. I can attest that she was seen as a leader among her peers. Sabrina is one of the most determined people I know and I am sure she will go on to do many wonderful things in her career.</p>
            </div>
          </div>
          <div style="display: flex;">
            <div class=""><img src="../images/sriram.jpeg"  class="small-avatar" alt=""></div>
            <div style="text-align: left; margin: 10px; align-self: center" class="referral">
              <h4>Sriram <i>(Team Member)</i></h4>
              <p>Sabrina is one of the smartest people I have ever met. I worked with her on the Demo Day project at Le Wagon. She is a natural leader and is quick to come up with innovative and practical ideas. At the same time, she understood the constraints of building a project in a short duration and prioritised the features to be built. She was skilled in managing the project as well as building both the front-end(design elements) and the back-end(structure) of the project. It was great working with her and she would be an invaluable asset to any organisation she is part of. </p>
            </div>
          </div>
          <div style="display: flex;">
            <div class=""><img src="../images/doug.jpeg" class="small-avatar" alt=""></div>
            <div style="text-align: left; margin: 10px; align-self: center" class="referral">
              <h4>Doug <i>(Le Wagon Teacher)</i></h4>
              <p>Sabrina is an extremely motivated and passionate worker. When we covered new material, she stayed curious asking constructive questions. While working in her team, she was a leader that tried to get the most out of everyone while keeping everyone on task. If I were starting a new team, I wouldn't hesitate to get her on board.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card more-card">
      <div class="card-header" id="headingSeven">
        <h2 class="my-accordion">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
            I GEEK OUT ON
          </button>
        </h2>
      </div>
      <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
        <div class="card-body data-body">
          <p>New products</p>
          <p>My dog, Peanut</p>
          <p>Languages</p>
          <p><i>Sapiens</i></p>
          <p>Backgammon</p>
          <p>Wine</p>
          <p>Interior Design</p>
          <p>Frank Sinatra</p>
          <p>Cooking</p>
          <p>Peloton</p>
          <p>Manchester United</p>
          <p>Skiing</p>
          <p>Technology</p>
          <p><i>The Social Dilemma</i></p>
        </div>
      </div>
    </div>

    <div class="card more-card">
      <div class="card-header" id="headingEight">
        <h2 class="my-accordion">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
            DOWNLOAD MY RESUME
          </button>
        </h2>
      </div>
      <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
        <div class="card-body data-body">
          <a href="/images/Resume_20200128.pdf" target="_blank">View/Download PDF</a>
        </div>
      </div>
    </div>

    <div class="card more-card">
      <div class="card-header" id="headingNine">
        <h2 class="my-accordion">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
            GET IN TOUCH
          </button>
        </h2>
      </div>
      <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordionExample">
        <div class="card-body data-body">
          <form
            action="https://formspree.io/sabrina.gheissari1@gmail.com"
            method="POST"
            style="text-align: center"
          >
            <label class="form-contact">
              Your Name:
              <input type="text" name="name" class="input-contact">
            </label>
            <label class="form-contact">
              Your Email:
              <input type="email" name="_replyto" class="input-contact">
            </label>
            <label class="form-contact">
              Message:
              <textarea name="message" placeholder="Want to work together? Looking to hire? Send me a message!" class="input-contact"></textarea>
            </label>
            <input type="submit" value="Thanks!" class="send-contact">
          </form>
          <!-- <a href="/index.html" class="fas fa-home home-button"></a> -->
          <!-- <form
            action="https://formspree.io/sabrina.gheissari1@gmail.com"
            method="POST"
          >
            <label class="form-home">
              Your Name:
              <input type="text" name="name" class="input-home">
            </label>
            <label class="form-home">
              Your Email:
              <input type="email" name="_replyto" class="input-home">
            </label>
            <label class="form-home">
              Message:
              <textarea name="message" placeholder="Want to work together? Looking to hire? Send me a message!" class="input-home"></textarea>
            </label>
            <input type="submit" value="Send" class="send-home">
          </form> -->
        </div>
      </div>
    </div>

  </div>
</div>
